<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{{ url_for('static', filename='js/jquery/3.5.1/JQuery.js') }}"></script>
        <link href="{{ url_for('static', filename='css/bootstrap/4.6.0/bootstrap.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/bootstrap/4.6.0/bootstrap.min.js') }}"></script>
        <!-- Customized CSS -->
        {% block styles %} {% endblock %}

        <!-- Customized JS -->
        {% block scripts %} {% endblock %}
        
        <!--Icon-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/draw.ico') }}"
            type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='img/draw.ico') }}"
            type="image/x-icon">
    </head>
    <body>
        <!--Navbar-->
        {% block navbar %}
            {% include 'components/navtest.html' %}
        {% endblock %}

        <!-- Jumbotron -->
        {% block jumbotron %} {% endblock %}

        <div class="container-fluid">

            <!-- Placeholder for contents -->
            {% block content %} {% endblock %}
            
            <!-- Placeholder for footers -->
            {% block foot %} {% endblock %}
        </div> 

    </body>
</html>